html, body
  margin 0
  font-family monospace
  background-color #000
  overflow hidden
  height 100%
  width 100%

.cont
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center

#out
  image-rendering pixelated
